<!-- home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-img src="ruta-de-la-imagen" alt="Presentación"></ion-img>

    <ion-card-header>
      <ion-card-title>Bienvenido a registerAPP</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        ¡Gracias por unirte a nuestra aplicación! Regístrate para disfrutar de todas las funciones.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="irALogin()">Ir a Login</ion-button>
  <ion-button expand="full" (click)="irARegister()">Ir a Register</ion-button>
</ion-content>

